# Python
__pycache__/
*.py[cod]
*.env
venv/
.venv/
*.egg-info/
dist/
.pytest_cache/

# Node / Expo
node_modules/
.expo/
dist/
build/
*.tgz

# Env files
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
